:root{
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.text-white{
  color: white; 
}

.header{
  background-color: rgb(42, 41, 49);
  padding: 12px;
  overflow: hidden;
}

.container{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.game-article{
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.card-body{
  padding: 16px;
}

.pokemon-container{
  padding: 25px;
}

.cargando{
  color: gray;
}

.input-div{
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
}

.name{
  min-width: 95%; 
  padding: 8px 5px;
  border-radius: 8px;
  border: 1px solid gray;
  text-align: center;
  margin: 10px auto;
}

.btn{
  margin: 5px auto; 
  min-width: 100%; 
  padding: 10px 0; 
  border-radius: 8px; 
  border: none; 
  font-weight: 700;
  cursor: pointer;
}

.blue-btn{
  background-color: rgb(19, 87, 235);

  &:hover{
    background-color: rgb(62, 117, 235);
  }
}

.gray-btn{
  background-color: rgb(109, 109, 109);

  &:hover{
    background-color: rgb(207, 206, 206);
  }
}